@import '../../assets/colors.scss';

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

    .title {
        font-size: 32px;
        font-weight: bold;
    }
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    white-space: nowrap;
    padding: 15px;

    background-color: $beaublue;

    display: flex;
    flex-direction: column;

    .button-wrapper {
        display: flex;

        .menu-button {
            padding: 3px 8px;
            border: 1px $darkgray solid;
            border-radius: 4px;
            background: none;
            cursor: pointer;

            &:hover {
                background-color: $lightgray;
            }
        }
    }

    .menu-items {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
}