@import '../../assets/colors.scss';

.menu {
  display: flex;
  background-color: $beaublue;

  .button-wrapper {
    display: flex;

    .menu-button {
      padding: 5px 10px;
      border: none;
      border-radius: 8px;
      background-color: $darkskyblue;
      cursor: pointer;

      &:hover {
        background-color: $carolinablue;
      }
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    padding: 10px;

    span {
      margin: 10px;
    }
  }
}

@media (min-width: 768px) {
  .menu {
    height: calc(100vh - 30px);
    white-space: nowrap;
    padding: 15px;
    flex-direction: column;

    .menu-items {
      padding-top: 30px;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px $charcoal solid;
    flex-direction: column-reverse;
    align-items: flex-end;
    border-radius: 8px;

    .menu-items {
      &.closed {
        display: none;
      }
      align-items: flex-end;
    }
  }
}
