@import './assets/colors.scss';

html {
  font-size: 14pt;
  font-family: Tahoma, Arial, Helvetica;
  color: $darkjunglegreen;

  body {
    margin: 0;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16pt;
  }
}

a {
  color: $carolinablue;
}

code {
  color: $fuzzywuzzy;
}
