$darkgray: #3f3f3f;

$charcoal: #364652;

$beaublue: #C7DBE6;

$darkskyblue: #9CC0D3;

$fuzzywuzzy: #D16666;

$carolinablue: #4EA5D9;

$sapphireblue: #206C97;

// new color scheme

$silver: #C5C1C0;

$darkjunglegreen: #0A1612;

$gunmetal: #1A2930;

$jonquil: #F7CE3E;

$springgreen: #0CF574;
