.upcoming-events {
  .today {
    font-size: 20pt;
    font-weight: bold;
  }

  li {
    margin: 15px 0 5px 0;

    .session-numbers {
      font-weight: bold;
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }
}
